---
layout: articles
heading: 'Your awesome heading'
subheading: 'Your awesome subheading'
banner: 'default'
---
<p>
  I am a clinician-scientist translating core principles of mechanobiology, neurobiology and motor control to Physical Therapist practice in central PA. I maintain an active practice as a Doctor of Physical Therapy under the conviction that scientific translation must be enacted by individuals doing both clinical practice, and scientific inquiry, broadly construed. I am fundamentally interested in the cellular and computational mechanisms connecting movement and the nervous system. As a clinician-scientist, my aim is to translate these findings to clinical populations, particularly those marginalized by conventional medical and biopsychosocial diagnostic frameworks. </p>

<p> 

{{ content }}
